<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slipper.weblog.modules.diary.mapper.DiaryMapper">

    <select id="queryPage" resultType="com.slipper.weblog.modules.diary.model.dto.DiaryPageDTO">
        SELECT d.id, d.title, d.is_private, d.status, d.view_count, d.comment_count, d.like_count,
               d.created_at, d.updated_at,
               d.mood_id, m.emoji AS moodEmoji, d.weather_id, w.emoji AS weatherEmoji
        FROM diary as d
                 LEFT JOIN mood as m ON m.id = d.mood_id
                 LEFT JOIN weather as w ON w.id = d.weather_id
        WHERE d.deleted = 0
        <if test="title != null and title.trim() != ''">
            AND d.title like "%${title}%"
        </if>
        <if test="moodId != null">
            AND d.mood_id = #{moodId}
        </if>
        <if test="weatherId != null">
            AND d.weather_id = #{weatherId}
        </if>
        <if test="isPrivate != null">
            AND d.is_private = #{isPrivate}
        </if>
        <if test="status != null">
            AND d.status = #{status}
        </if>
        ORDER BY d.created_at DESC
    </select>

    <select id="queryInfo" resultType="com.slipper.weblog.modules.diary.model.dto.DiaryInfoDTO">
        SELECT d.id, d.title, d.content, d.location, d.is_private, d.status,
               d.view_count, d.comment_count, d.like_count, d.created_at, d.updated_at,
               d.mood_id, m.name AS moodName, m.emoji AS moodEmoji,
               d.weather_id, w.name AS weatherName, w.emoji AS weatherEmoji
        FROM diary as d
                 LEFT JOIN mood as m ON m.id = d.mood_id
                 LEFT JOIN weather as w ON w.id = d.weather_id
        WHERE d.id = #{ id }
          AND d.deleted = 0
    </select>

</mapper>
